rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    function estaAutenticado() {
      return request.auth != null;
    }

    function esDocente() {
      return estaAutenticado()
        && get(
          /databases/$(database)/documents/usuarios/$(request.auth.uid)
        ).data.rol == "docente";
    }

    function esAdmin() {
      return estaAutenticado()
        && get(
          /databases/$(database)/documents/usuarios/$(request.auth.uid)
        ).data.rol == "admin";
    }

    match /usuarios/{userId} {

      // Cada usuario puede leer su perfil.
      // El administrador puede consultar todos los usuarios.
      allow read: if estaAutenticado()
                  && (
                    request.auth.uid == userId
                    || esAdmin()
                  );

      // El registro público siempre crea estudiantes.
      allow create: if estaAutenticado()
                    && request.auth.uid == userId
                    && request.resource.data.rol == "estudiante";

      // El usuario puede actualizar su perfil,
      // pero no puede cambiar su propio rol.
      allow update: if estaAutenticado()
                    && request.auth.uid == userId
                    && request.resource.data.rol == resource.data.rol;

      // El administrador puede cambiar únicamente el rol
      // de otros usuarios entre estudiante y docente.
      allow update: if esAdmin()
                    && request.auth.uid != userId
                    && resource.data.rol != "admin"
                    && request.resource.data.rol
                       in ["estudiante", "docente"]
                    && request.resource.data
                       .diff(resource.data)
                       .affectedKeys()
                       .hasOnly([
                         "rol",
                         "fechaActualizacion",
                         "actualizadoPor"
                       ])
                    && request.resource.data.actualizadoPor
                       == request.auth.uid;
    }

    match /cursos/{cursoId} {
      allow read: if resource.data.habilitado == true
                  || (
                    esDocente()
                    && resource.data.docenteId == request.auth.uid
                  );

      allow create: if esDocente()
                    && request.resource.data.docenteId == request.auth.uid
                    && request.resource.data.habilitado == false
                    && request.resource.data.estado == "borrador";

      allow update: if esDocente()
                    && resource.data.docenteId == request.auth.uid
                    && request.resource.data.docenteId == request.auth.uid;

      allow delete: if esDocente()
                    && resource.data.docenteId == request.auth.uid;
    }
  }
}